<!-- This will be the Projects page requirement for Module 1 Assignment -->
{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Projects{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="projects-content">
    <h3>Module 1: Personal Website</h3>
    <ul>
      <li>Module 1 covered the fundamentals of website construction using HTML, CSS, and Flask.</li>
      <li><a href="https://github.com/wendycorene/jhu_software_concepts/tree/main/Module%201" target="_blank">Module 1 Project on GitHub</a></li>
    </ul>
    <!-- include module 1 project title -->
    <!-- include details about module 1 project -->
    <!-- include a link to module 1 project github -->
  </div>
{% endblock content %}
